<form [formGroup]="submissionForm" (ngSubmit)="onSubmit()" class="form-inline">
  <div id="submissionbox">
    <input type="search" formControlName="name" placeholder="Name" />
    <input type="search" formControlName="type" placeholder="Type" />
  </div>
  <div id="submissionbox">
    <input type="search" formControlName="description" placeholder="Description" />
    <input type="search" formControlName="link" placeholder="Link" />
  </div>
  <div id="submissionbox">
      <input type="search" formControlName="personName" placeholder="Your name" />
      <input type="search" formControlName="email" placeholder="Email" />
  </div>
  <button type="button" (click)="onSubmit()">Submit</button>
</form>
