<h1>About</h1>

<p style='font-size: 14pt;'>
  Angular Ecosystem is a search engine for all things Angular.
  It provides the officially recommended tooling, libraries,
  and components for Angular developers to use. Every result
  has been checked and tested to make sure we are recommending
  high quality and reliable tooling.
</p>

<p style='font-size: 14pt;'>
  All details provided for each product are there to help you
  determine which tool best fits your needs and interests.
</p>

<p style='font-size: 14pt;'>
  If you think a results list is missing a key tool or library,
  please submit the tool for review at the
  <a [routerLink]="['/new-submission']">New Submissions</a> page.
</p>

